.red {
    position: relative;
    left: 300px;
    background-color: rgb(255, 42, 0);
    height: 400px;
    width: 400px;
}
.blue {
    position: relative;
    left:500px;
    bottom: 200px;
    background-color: rgb(5, 122, 218);
    height: 400px;
    width: 400px;
}
.green {
    position: absolute;
    left:700px;
    bottom: 10px;
    background-color: lightgreen;
    height: 400px;
    width: 400px;
    z-index: -1;
}
